{% extends "base.html" %}

{% block content %}
<main class ="main main--about">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam quis sit vel facilis qui accusantium laborum, quidem delectus. Eligendi illo quidem consequuntur at, asperiores omnis neque magnam. Incidunt doloribus in praesentium repellat dolorum?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam quis sit vel facilis qui accusantium laborum, quidem delectus. Eligendi illo quidem consequuntur at, asperiores omnis neque magnam. Incidunt doloribus in praesentium repellat dolorum?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam quis sit vel facilis qui accusantium laborum, quidem delectus. Eligendi illo quidem consequuntur at, asperiores omnis neque magnam. Incidunt doloribus in praesentium repellat dolorum?
    </p>
</main>
{% endblock %}